<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>srvUsuario</servlet-name>
        <servlet-class>Controlador.srvUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvSoporte</servlet-name>
        <servlet-class>Controlador.srvSoporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvAFinanciero</servlet-name>
        <servlet-class>Controlador.srvAFinanciero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LastMessages</servlet-name>
        <servlet-class>Controlador.LastMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMessage</servlet-name>
        <servlet-class>Controlador.NewMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvUsuario</servlet-name>
        <url-pattern>/srvUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvSoporte</servlet-name>
        <url-pattern>/srvSoporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvAFinanciero</servlet-name>
        <url-pattern>/srvAFinanciero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LastMessages</servlet-name>
        <url-pattern>/LastMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMessage</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
